@use "variables" as *;

.notes-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-white;
  box-shadow: -3px -3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-height: 80px;
  padding: 0 18px;
  margin: 20px;

  h1 {
    font-size: 28px;
    font-weight: bold;
    color: #111827;
  }

  .add-note-btn {
    position: absolute;
    right: 18px;
    border: none;
    background-color: $clr-yellow-btn;
    border-radius: $btn-radius;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 18px;
  }
}
